<html lang="en">
  <head>
    <meta name="google-signin-scope" content="profile email" />
    <meta name="google-signin-client_id" content="56820815290-65m2fv0g7l74s6d1v923k4pm3g5p61qq.apps.googleusercontent.com" />
    <script src="https://apis.google.com/js/platform.js"></script>
  </head>
  <body>
      <script> gapi.load('auth', function () {
                gapi.auth2.init();
            });
            </script>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <script>
      function onSignIn(googleUser) {    
        window.location = "http://localhost:8080/index";
      };
    </script>
  </body>
</html>