<html>
<head>
  <title>Google+ Sign-in button demo</title>
  <style type="text/css">
  html, body { margin: 0; padding:0;}
  #signin-button {
   padding: 5px;
  }

  #oauth2-results pre { margin: 0; padding:0;}
  .hide { display: none;}
  .show { display: block;}
  </style>
  <script type="text/javascript">

  var loginFinished = function(authResult) {
    if (authResult) {
      var el = document.getElementById('oauth2-results');
      var label = '';
      toggleDiv('oauth2-results');
      if (authResult['status']['signed_in']) {
        label = 'User granted access:';
        gapi.auth.setToken(authResult);
      } else {
        label = 'Access denied: ' + authResult['error'];
      }
      el.innerHTML =
          label + '<pre class="prettyprint"><code>' +
          // JSON.stringify doesn't work in IE8.
          '{<br />' +
          '  "id_token" : "' + authResult['id_token'] +'",<br />' +
          '  "access_token" : "' + authResult['access_token'] + '",<br />' +
          '  "state" : "' + authResult['state'] + '",<br />' +
          '  "expires_in" : "' + authResult['expires_in'] + '",<br />' +
          '  "error" : "' + authResult['error'] + '",<br />' +
          '  "error_description" : "' + authResult['error_description'] + '",<br />' +
          '  "authUser" : "' + authResult['authuser'] + '",<br />' +
          '  "status" : {"' + '<br />' +
          '    "google_logged_in" : "' + authResult['status']['google_logged_in'] + '",<br />' +
          '    "method" : "' + authResult['status']['method'] + '",<br />' +
          '    "signed_in" : "' + authResult['status']['signed_in'] + '"<br />' +
          '  }<br />' +
          '}</code></pre>';
      toggleDiv('signin-button');
    } else {
      document.getElementById('oauth2-results').innerHTML =
          'Empty authResult';
    }
  };

  function toggleDiv(id) {
    var div = document.getElementById(id);
    if (div.getAttribute('class') == 'hide') {
      div.setAttribute('class', 'show');
    } else {
      div.setAttribute('class', 'hide');
    }
  }
  </script>
  <script src="https://plus.google.com/js/client:platform.js" type="text/javascript"></script>
</head>
<body>
  <div id="signin-button" class="show">
   <div class="g-signin" data-callback="loginFinished"
    data-approvalprompt="force"
    data-clientid="56820815290-hv3gtagbl8sdlukh7ihukgm7puatsnmu.apps.googleusercontent.com"
    data-requestvisibleactions="http://schema.org/CommentAction"
    data-cookiepolicy="single_host_origin"
    >
  </div>
  </div>

</body>
</html>